.footer {
  background-color: black;
  position: absolute;
  width: 100%;
}

.contact {
  margin: 0;
  text-align: center;
  color: white;
}

.pContact {
  color: white;
  text-align: center;
  padding: 0;
}
