.register {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label-register {
  color: var(--prussian-blue);
}

.register-form {
  background-color: white;
  width: 55vh;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 5px solid var(--prussian-blue);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 10px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title-register {
  text-align: center;
  color: white;
}

.register-input {
  display: block;
  height: 50px;
  width: 40rem;
  background-color: var(--lemon-meringue);
  border-radius: 3px;
  padding: 0 15px;
  margin-top: 8px;
  font-size: 20px;
  font-weight: 300;
}

.register-button {
  margin-top: 15px;
  margin-bottom: 30px;
  background-color: var(--lemon-meringue);
  color: #080710;
  padding: 15px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.register-button:hover {
  background-color: var(--maximum-yellow-red);
}

.end-register-page {
  text-align: center;
}

.end-register-page {
  color: var(--prussian-blue);
  font-weight: bold;
}

.new-account-link {
  text-decoration: none;
  color: var(--prussian-blue);
  font-size: larger;
  font-weight: bolder;
}

.errorMsg {
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
}

input:invalid[focus="true"] {
  border: 1px solid red;
}

input:valid[focus="true"] {
  border: 1px solid green;
}
input:invalid[focus="true"] ~ span {
  display: block;
}

@media screen and (max-width: 768px) {
  .register-input {
  width:20rem;
  }

.register-form {
    width: 250px;
  justify-content: space-evenly;
  } 

 
}

