.subscription-page {
  background-color: white;
  display: flex;
  flex-direction: column;
  color: var(--prussian-blue);
  text-align: justify;
  align-items: center;
}

.img-subscription-page {
  background-size: cover;
  width: 202vh;
  height: 650px;
}

h2 {
  text-align: center;
}

.header-subscription-page {
  position: absolute;
  margin-left: 50rem;
  margin-right: 50rem;
  text-align: center;
  /* left: 550px; */
  top: 230px;
  color: white;
  font-size: xx-large;
}

.subscription-page-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 14px;
  grid-row-gap: 15px;
}

.title-subs-box {
  font-size: larger;
  text-align: center;
}

.check-subs {
  list-style: none;
}

.color-check-subs {
  color: var(--orange);
  font-size: xx-large;
}

.price {
  text-align: center;
}

.box-subs {
  margin-top: 3rem;
  border-top: 3px dotted var(--maximum-yellow-red);
}

@media screen and (max-width: 768px) {
  .img-subscription-page {
    margin-top: 0;
    background-size: cover;
    width: 400px;
    height: 400px;
  }

  .header-subscription-page {
    position: absolute;
    color: white;
    font-size: x-large;
  }

  .subscription-page-container {
    margin-right: 2.5rem;
   
  }
}
