.subscription {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 2rem;
}

.subscription h2 {
  font-weight: bold;
  justify-content: center;
  color: white;
}

.subscription h3 {
  font-weight: bolder;
  font-size:xx-large;
  text-align: center;
  color: white;
}

.box-subscription {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.card-subscription {
  color: white;
  padding: 2rem;
  text-align: justify;
  border : 5px solid;
  border-style: inset outset;
}

hr {
  background-color: var(--maximum-yellow-red);
  width : 100%;
  height: 1px;
}
