.loginpage {
  background-image: url("../assets/muscu.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.show-register-button {
  color: white;
  background-color: transparent;
  border: 2px solid;
  background-color: var(--prussian-blue);
  border-radius: 15px;
  padding: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  #registerpage {
    width: 390px;
    height: 930px;
  }
}
