.photo-home {
  background-image: url("../assets/photo-home.jpg");
  background-size: cover;
  height: 800px;
  padding: 2rem;
}

.title-user-dashboard {
  padding-top: 20rem;
  color: white;
  font-size: 5rem;
  text-align: center;
}

.user-datas-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 2px solid var(--orange);
  justify-content: space-around;
}

.ec-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-update-disconnect-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.label-input {
  color: black;
}

.data-input {
  height: 50px;
  width: 30rem;
  background-color: var(--lemon-meringue);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 20px;
  font-weight: 300;
}
.box-entete {
  text-align: center;
  color: var(--prussian-blue);
}

.update-button {
  background-color: white;
  padding: 0.5rem;
  font-weight: bold;
  border: 3px solid white;
  transition: 400ms all;
  background-color: var(--prussian-blue);
  width: 7rem;
  height: 4rem;
  border-radius: 15px;
  color: white;
  cursor: pointer;
}

.update-button:hover {
  background: #3cb1fa;
  background-image: -webkit-linear-gradient(top, #3cb1fa, #3c8efa);
  background-image: -moz-linear-gradient(top, #3cb1fa, #3c8efa);
  background-image: -ms-linear-gradient(top, #3cb1fa, #3c8efa);
  background-image: -o-linear-gradient(top, #3cb1fa, #3c8efa);
  background-image: linear-gradient(to bottom, #3cb1fa, #3c8efa);
  text-decoration: none;
}

.subs-user-box {
  border-top: 2px solid var(--orange);
}

.prog-user-box {
  border-top: 2px solid var(--orange);
}

.subs-user-box {
  display: flex;
  flex-direction: column;
  height: 520px;
}

.prog-user-box {
  display: flex;
  flex-direction: column;
  height: 500px;
}

.prog-select {
  color: var(--prussian-blue);
}

.disconnect-button {
  background-color: white;
  padding: 1rem;
  font-weight: bold;
  border: 3px solid white;
  transition: 400ms all;
  background-color: var(--orange);
  width: 9rem;
  border: 2px solid var(--prussian-blue);
  border-radius: 15px;
  color: white;
  cursor: pointer;
}

.subs-box {
  display: flex;
  flex-direction: column;
}

.subs-text-box {
  display: flex;
  flex-direction: column;
  margin-left: 15rem;
  margin-right: 15rem;
  border: 1px solid black;
  padding: 2rem;
  background-color: var(--prussian-blue);
  color: white;
}

.entete-subs {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

.subs-name {
  font-size: x-large;
  font-weight: bolder;
  text-align: center;
}

.subs-price {
  text-align: center;
  font-size: large;
  font-weight: bold;
}

.subs-detail {
  text-align: center;
  font-size: large;
  font-weight: bold;
}
